
.NavBar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 2px solid black;
    padding: 3px;
    background-color: darkgray;
    /* margin-bottom: -21px; */
}

ul {
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}

li {
    list-style: none;
    margin-left: 20px;
}

.NavBar-Link {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    color: #f36;
    cursor: pointer;
}

#NavBar-Home {
    font-size: 2.5rem;
    color: dodgerblue;
    margin-left: 20px;
    text-decoration: none;
}

a:hover {
    color: white;
}

.NavBar-Link.active {
    text-decoration: overline;
    color: dodgerblue;
}

